{% extends 'base.html' %}

{% block header_styles %}
      <style type="text/css">
        .form label {
            width: 100%;
        }
      </style>
{% endblock %}

{% block content %}
    <form method="POST" class="form">
        {% for form in forms %}
            {% csrf_token %}
            {{form.as_p}}
        {% endfor %}
        <p>
            <label></label>
            <input type="submit" class="btn btn-success" value="Submit" />
            <button type="button" class="btn btn-light" onclick="history.back()">Back</button>
        </p>
    </form>
{% endblock %}